h1 {
  color: blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: serif;
  color: white;
  font-size: 20px;
}
ul{
  line-height: 40px;
  color: white;
  font-style: normal;
  font-family: serif;
  font-size: 15px;
}
html{
  background-color: black;

}
ol{
  color: white;
  line-height: 40px;
  font-size: 15px;
  font-family: serif;
  font-style: italic;
}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
}
